html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* Container da Loja Virtual */
#loja-virtual {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Listagem de produtos */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    li button {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        li button:hover {
            background-color: #218838;
        }

/* Carrinho */
h3 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

ul li {
    background-color: #f8f9fa;
    margin-bottom: 8px;
}

/* Botões */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    margin-top: 20px;
}

    button:hover {
        background-color: #0056b3;
    }

/* Responsividade */
@media (max-width: 768px) {
    #loja-virtual {
        padding: 15px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
